name: generate-badges
permissions: write-all
on: 
  push:
    branches:
      - main
jobs:
  generate-badges:
    runs-on: ubuntu-latest
    steps:

    - name: Check out repository code
      uses: actions/checkout@v3
      
    - name: Setup Node Js
      uses: actions/setup-node@v3
      with:
          node-version: '18'

    - name: Install dependencies
      run: npm install --verbose

    - name: Tests
      run: npm run test-ci
      
    - name: Generating coverage badges
      uses: jpb06/jest-badges-action@latest
      with:
          branches: main